<!DOCTYPE html>
<html>
<% include template/header %>

<body>
    <div class="container" id="app">
        {{ selectLocation }}



        <div class="row">
            <div class="col-sm">
                <select class="form-control" v-model="selectLocation">
                    <%  locationList.forEach(function(item){ %>
                    <option>
                        <%=  item  %>
                    </option>
                    <% }) %>
                </select>
            </div>
            <div class="col-sm">
                <select class="form-control" v-model="selectLocation">
                    <%  locationList.forEach(function(item){ %>
                    <option>
                        <%=  item  %>
                    </option>
                    <% }) %>
                </select>
            </div>
            <div class="col-sm">
                <select class="form-control" v-model="selectLocation">
                    <%  locationList.forEach(function(item){ %>
                    <option>
                        <%=  item  %>
                    </option>
                    <% }) %>
                </select>
            </div>
        </div>
      <br/>

        <div class="row">
                <div class="col-sm">
                    <select class="form-control" v-model="selectLocation">
                        <%  locationList.forEach(function(item){ %>
                        <option>
                            <%=  item  %>
                        </option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-sm">
                    <select class="form-control" v-model="selectLocation">
                        <%  locationList.forEach(function(item){ %>
                        <option>
                            <%=  item  %>
                        </option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-sm">
                    <select class="form-control" v-model="selectLocation">
                        <%  locationList.forEach(function(item){ %>
                        <option>
                            <%=  item  %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>




        <button v-on:click="clickBtn">Search</button>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">

    (function () {

        var location = '<%= locationList %>';
        var locationList = location.split(',');
        console.log(location);

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                items: locationList,
                selectLocation: ""
            },
            methods: {
                clickBtn: function () {
                    console.log(this.selectValue);
                }
            }
        });

    })();




</script>

</html>